numpy
scipy
scikit-image
opencv-python-headless
opencv-contrib-python-headless
#opencv-python==4.2.0.32
#opencv-contrib-python==4.2.0.32
tensorflow==2.12.1
tensorflow-model-optimization==0.5.0
matplotlib
tqdm
pillow
mnn
keras2onnx
tf2onnx
pycocotools
onnx
onnxruntime
